{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, my name is Leonardo. I'm a language teacher and I love
          writing,reading and drinking coffee. Welcome to this page. This page
          is part of a capstone project for a bootcamp course.
          <a href="https://www.udemy.com/course/100-days-of-code/"
            >Check this out</a
          >. Udemy is a nice place to look around and find what a new thing to
          learn.
        </p>
        <p>
          The best thing is that you have a lot of tasks to do. Learning through
          doing stuff is a great way to get the contents. If you wanna to
          contact me, there is a e-mail form contact. I'ts gonna be amazing
          answer!
        </p>

        <p>That's it. See you soon</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
